body{
    font-family: monospace;
    background-color: rgb(10,50,10);
    color: rgb(10,150,10);
    text-shadow: 2px 2px rgb(0,100,0);
}

.page{
    display: flex;
    flex-direction: column;
    background-color: rgb(10,60,10);
    box-shadow: 0px 5px 5px 5px rgb(0,60,0);
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
}

.playfield{
    display: flex;
    justify-content: center;
}

.title{
    font-size:48px;
    margin-bottom: 30px;
}
.score{
    font-size: 64px;
    margin: 0px;
}

.players{
    display: flex;
    justify-content: space-evenly;
}
.player-container{
    text-align: center;
    font-size: 24px;
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(50,150,50);
    border-radius: 10px;
    box-shadow: 3px 6px 6px rgb(0,100,0);
    margin:20px;
    padding: 10px;
    font-size: 40px;
    transition: all 0.2s;

}

.buttons{
    gap:20px;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    padding: 30px;

}
button{
    height: 50px;
    width: 100px;
    margin: 0px 10px;
    font-family: monospace;
    background-color: rgb(10,60,10);
    box-shadow: 0px 5px 5px 5px rgb(0,100,0);
    color: rgb(10,150,10);
    text-shadow: 1px 1px rgb(0,100,0);
    border-style:solid;
    border-width: 5px;
    border-color: rgb(50,150,50);
    border-radius: 10px;
    transition: all .1s ease;
}
button:hover{
    box-shadow: 0px 5px 5px 5px rgb(0,160,0);
    color: rgb(10,160,10);
    font-size: 120%;
}

.clicked {
    transform: scale(0.95);
    background-color: rgb(10,30,10);
    box-shadow: 0px 5px 5px 5px rgb(0,80,0);
    color: rgb(10,150,10);
    pointer-events: none;
  }

  .disabled{
    cursor: not-allowed;
  }
